<?xml version="1.0" encoding="utf-8"?>
  <configuration>
     <appSettings>
         <!--
      <add key="CustomerDatabaseType" value="Access" />
            <add key="CustomerDatabaseType" value="SQL" />

    -->   
      <add key="CustomerDatabaseType" value="Access" />
   </appSettings>
     
    <connectionStrings>
  <!--
      <add name="CustomerDatabase" connectionString="Data Source=MIKES-PC;Initial Catalog=AdventureWorks2014; Integrated Security=true"/>
          <add name="CustomerDatabase" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Dev\Win Forms\WinForms Full Stack\Database\Customer.accdb"/>

    -->      
          <add name="CustomerDatabase" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Dev\Win Forms\WinForms Full Stack\Database\Customer.accdb"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
