<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FileDatabase" connectionString="Data Source=MIKES-PC;Initial Catalog=FileMaintenance; Integrated Security=true" />
  </connectionStrings>
  <appSettings>
    <add key="FilePath" value="..\..\..\Files\" />
    <add key="logfilelocation" value="abc.txt" />
  </appSettings>
</configuration>