<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <connectionStrings>
    <add name="CustomerDatabase" connectionString="Data Source=MIKES-PC;Initial Catalog=Customers; Integrated Security=true" />
  </connectionStrings>
    <appSettings>

    </appSettings>

</configuration>
