@using GridMvc.Html

@*@model IEnumerable<SampleMVC.Models.Customer>*@
@model List<SampleMVC.Models.Customer>

@{
    ViewBag.Title = "Customer Page";
}

<div class=" page-header ">
    <h2>Customers</h2>
</div>

<div class="row">
    <div class="col-md-12">

        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(customer => customer.name).Titled("Name").Sortable(true).Filterable(true);
            columns.Add(customer => customer.address).Titled("Address").Sortable(true).Filterable(true);
            columns.Add(customer => customer.phoneNumber).Titled("Phone").Sortable(true).Filterable(true);
            columns.Add(customer => customer.emailAddress).Titled("Email").Sortable(true).Filterable(true);
            columns.Add(customer => customer.accountNumber).Titled("Account").Sortable(true).Filterable(true);
        }).WithPaging(15)

    </div>
</div>