<div  ng-controller="Footer">
    <div style="font-size:small"    >
    
        <table>
            <tr >
              <td>$location.path() = {{main.$location.path()}},&nbsp;&nbsp;</td>
              <td>$route.current.templateUrl = {{main.$route.current.templateUrl}},&nbsp;&nbsp;</td>
              <td>$route.current.$$route.controller = {{main.$route.current.$$route.controller}},&nbsp;&nbsp;</td>
              <td>$route.current.$$route.controllerAs = {{main.$route.current.$$route.controllerAs}},&nbsp;&nbsp;</td>
              <td>$route.current.params = {{main.$route.current.params}},&nbsp;&nbsp;</td>
              <td>$routeParams = {{main.$routeParams}},&nbsp;&nbsp;</td>
            </tr>
          </table>
          <hr />
    <!-- <pre>$location.path() = {{main.$location.path()}}</pre>
    <pre>$route.current.templateUrl = {{main.$route.current.templateUrl}}</pre>
    <pre>$route.current.params = {{main.$route.current.params}}</pre>
    <pre>$routeParams = {{main.$routeParams}}</pre>
    <pre>controller = {{vm.name}}</pre> -->
  </div>
</div>


